@import 'bootstrap-css-only/css/bootstrap.min.css';
@import 'antd/dist/antd.css';

.center {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 6000px) {
  .login-screen-width {
    width: 25%;
  }
}
@media only screen and (max-width: 1000px) {
  /*Big smartphones [426px -> 600px]*/
  .login-screen-width {
    width: 50%;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .login-screen-width {
    width: 75%;
  }
}
